{{/* this condition is used to append tolerations in the CI */}}
{{- if (env "BRANCH_NAME") }}
nodeSelector:
  team: platform
tolerations:
- effect: NoSchedule
  key: team
  operator: Equal
  value: platform
{{- end }}
