{
  "extends": "airbnb-base",
  "rules": {
    "arrow-body-style": ["error", "as-needed", { "requireReturnForObjectLiteral": true }],
    "arrow-parens": ["error", "always"],
    "class-methods-use-this": "off",
    "function-paren-newline": "off",
    "function-call-argument-newline": "off",
    "max-len": ["error", 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": false
    }],
    "no-param-reassign": ["error", { "props": false }],
    "no-restricted-syntax": "off",
    "no-underscore-dangle": "off"
  },
  "globals": {
    "__karma__": false,
    "baseURL": false,
    "Nuxeo": false,
    "window": false
  }
}
