########################################
# GIT IGNORED FILES
########################################

####################
# NodeJS modules
####################
node_modules/

####################
# Vim files
####################
*.swp
*.swo
*.swn
*.vim
